.slider1{
    position: relative;
    height: 60vh;
}

.slider-content{
    position: absolute;
    height: max-content;
    width: fit-content;
    top: 60px;
    left: 200px;
    font-size: 28px;
    color: white;
}
.slider1 img{
    position: absolute;
    height: 90vh;
}
button{

    border: none;
    background-color: transparent;
    font-size: 22px;
    color: white;
}
button:hover{
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .slider-content{
        position: absolute;
        height: max-content;
        width: fit-content;
        top: 20px;
        left: 50px;
        font-size: 28px;
        color: white;
    }
}