.slider1{
    position: relative;
    height: 80vh;
}

.slider-content{
    position: absolute;
    height: max-content;
    width: fit-content;
    top: 60px;
    left: 200px;
    font-size: 28px;
    color: white;
}
.slider1 img{
    position: absolute;
}